.Btn{
    font-size: 18px;
    padding: 10px 30px;
    border-radius: 4px;
    border: 0;
    color: white;
    margin: 20px 0;
}
.Btn:focus{
    outline: none;
}

.SirenBtn{
    background: #ff4444;
}
.BoringBtn{
    background: #3949ab;
}
.SleepyBtn{
    background: #ff80ab;
}
.Playing{
    background: rgb(88, 72, 72) !important;
}
  
 
  

  
