.App {
  text-align: center;
  width: 100%;
  min-height: 100vh;
  background: url('https://tse4.mm.bing.net/th?id=OIP.Yb4zao-6QQqJ6eC4HxcvmAHaEo&pid=Api') no-repeat;
  background-size: contain;
  background-color: #282c34;
  color: white;
}
.App-Header{
  position: fixed;
  width: 100%;
  height: 30vh;
  top: 0;
}

.App-Body{
  position: fixed;
  width: 100%;
  min-height: 70vh;
  background: white;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  padding-top: 30px;
  bottom: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}





.SirenBtn:hover{
  cursor: pointer;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
