.App {
  text-align: center;
  min-height: 100vh;
  background-color: #282c34;
  color: white;
  padding: 30px 20px;
}
.App-Header{
  min-height: 35vh;
}

.App-Body{
  min-height: 65vh;
  background: white;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  padding-top: 30px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.SirenBtn{
  font-size: 18px;
  padding: 10px 30px;
  border-radius: 4px;
  border: 0;
  color: white;
  background: #ff4444;
}

.SirenBtn:focus{
  outline: none;
}
.SirenBtn.Playing{
  background: rgb(88, 72, 72);
}



.SirenBtn:hover{
  cursor: pointer;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
