.App {
  text-align: center;
  min-height: 100vh;
  background-color: #282c34;
  color: white;
}
.App-Header{
  min-height: 40vh;
}
.App-Body{
  min-height: 60vh;
  background: white;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  padding-top: 30px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}





.SirenBtn:hover{
  cursor: pointer;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
